@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 70vw;
    max-height: 80vh;
  }

}

::ng-deep .ngx-json-viewer .segment .segment-key {
  color: whitesmoke !important;
}
