<st-animated-header text="Availability Overview"></st-animated-header>

<div class="charts-container">

   <div>
        <st-availability-chart [data]="selectedAvailabilityGroup"></st-availability-chart>
   </div>
    <div>
        <st-tab-component>
            <st-tab-item title="Totals">
            <apx-chart
                [series]="gaugeChartOptions.series"
                [chart]="gaugeChartOptions.chart"
                [xaxis]="gaugeChartOptions.xaxis"
                [title]="gaugeChartOptions.title"></apx-chart>
            </st-tab-item>
            <st-tab-item title="Details">
                <st-details-panel [data]="selectedAvailabilityGroup"></st-details-panel>
            </st-tab-item>
        </st-tab-component>
    </div>


</div>
<st-availability-list [data]="availabilityOverviewView$ | async" 
                      (selectedItemChanged)="selectedAvailabilityGroup = $event"></st-availability-list>