.details-container {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    .chart-container {
        min-width: 600px;
        width: 50%;
    }
    .list-container {
        min-width: 600px;
        width: 50%;
    }
}

