<shared-animated-header text="Availability Overview"></shared-animated-header>

<div class="details-container">

   <div class="chart-container">
        <availabilitypage-availability-chart [data]="selectedAvailabilityGroup"></availabilitypage-availability-chart>
   </div>
    <div class="list-container">
        <shared-tab-component>
            <shared-tab-item title="Totals">
                <availabilitypage-availability-gauge [data]="selectedAvailabilityGroup"></availabilitypage-availability-gauge>
            </shared-tab-item>
            <shared-tab-item title="Details">
                <availabilitypage-details-panel [data]="selectedAvailabilityGroup"></availabilitypage-details-panel>
            </shared-tab-item>
        </shared-tab-component>
    </div>


</div>
<availabilitypage-availability-list [data]="availabilityOverviewView$ | async" 
                      (selectedItemChanged)="selectedAvailabilityGroup = $event"></availabilitypage-availability-list>