<shared-animated-header text="Browser Timings Overview"></shared-animated-header>

<ul class="menu-items">
    <li (click)="setViewName('overall')" class="menu-item" [class.active]="selectedViewLabel == 'Overall'">
        <a class="tab-item-button" type="button">Overall</a>
    </li>
    <li (click)="setViewName('clientBrowser')" class="menu-item" [class.active]="selectedViewLabel == 'Client Browser'">
        <a class="tab-item-button" type="button">Client Browser</a>
    </li>
    <li (click)="setViewName('clientCity')" class="menu-item" [class.active]="selectedViewLabel == 'Client City'">
        <a class="tab-item-button" type="button">Client City</a>
    </li>
    <li (click)="setViewName('countryOrRegion')" class="menu-item" [class.active]="selectedViewLabel == 'Client Country'">
        <a class="tab-item-button" type="button">Client Country</a>
    </li>
    <li (click)="setViewName('userSession')" class="menu-item" [class.active]="selectedViewLabel == 'User Session'">
        <a class="tab-item-button" type="button">User Session</a>
    </li>
    <li (click)="setViewName('userId')" class="menu-item" [class.active]="selectedViewLabel == 'User Id'">
        <a class="tab-item-button" type="button">User Id</a>
    </li>
</ul>

<browsertimingpage-group-value-display  
[groupValues]="(selectedGroup$ | async) ?? null"
[groupValueName]="selectedViewLabel"></browsertimingpage-group-value-display>   






