<shared-animated-header text="Browser Timings Overview"></shared-animated-header>

<shared-tab-component>
    <shared-tab-item title="Overall">
        <browsertimingpage-group-value-display  
            [groupValues]="(browserTimingsOverviewView$ | async)?.operationNameStatistics ?? null"
            groupValueName="Overall"></browsertimingpage-group-value-display>   
    </shared-tab-item>
    <shared-tab-item title="Client Browser">
        <browsertimingpage-group-value-display  
            [groupValues]="(browserTimingsOverviewView$ | async)?.clientBrowserStatistics ?? null"
            groupValueName="Client Browser"></browsertimingpage-group-value-display>
    </shared-tab-item>
    <shared-tab-item title="Client City">
        <browsertimingpage-group-value-display  
            [groupValues]="(browserTimingsOverviewView$ | async)?.clientCityStatistics ?? null"
            groupValueName="Client City"></browsertimingpage-group-value-display>    
    </shared-tab-item>
    <shared-tab-item title="Client Country">
        <browsertimingpage-group-value-display  
            [groupValues]="(browserTimingsOverviewView$ | async)?.countryOrRegionStatistics ?? null"
            groupValueName="Client Country"></browsertimingpage-group-value-display>    
    </shared-tab-item>
    <shared-tab-item title="User Session">
        <browsertimingpage-group-value-display  
            [groupValues]="(browserTimingsOverviewView$ | async)?.userSessionStatistics ?? null"
            groupValueName="User Session"></browsertimingpage-group-value-display>    
    </shared-tab-item>
    <shared-tab-item title="User Id">
        <browsertimingpage-group-value-display  
            [groupValues]="(browserTimingsOverviewView$ | async)?.userIdStatistics ?? null"
            groupValueName="User Id"></browsertimingpage-group-value-display>    
    </shared-tab-item>
</shared-tab-component>






