
 <st-list-component [items]="[ data?.aggregateGroup ]" [hoverEnabled]="false" [isNestedList]="true" [noItemPadding]="true">
    <ng-template #headerTemplate >
        <div class="availability-list root">
            <span></span>
            <span>Group Name</span>
            <span>Successful ({{ groupMinutes }}min)</span>
            <span>Failures ({{ groupMinutes }}min)</span>
            <span>Avg Duration ({{ groupMinutes }}min)</span>
            <span>Success % ({{ groupMinutes }}min)</span>
        </div>
    </ng-template>

    <ng-template #itemTemplate let-item="item">
        <div class="availability-list root" (click)="setSelectedItem(item)" [ngClass]="{'selected': selectedFullGroupName == item?.fullGroupName}">
            <div style="display: flex; align-items: center; justify-content: center;">
                <st-icon *ngIf="!rootOpen" title="Expand" iconClass="fas fa-caret-left" iconSet="font-awesome" addClass="view-json-icon" (click)="rootOpen = !rootOpen"></st-icon>
                <st-icon *ngIf="rootOpen" title="Collapse" iconClass="fas fa-caret-down" iconSet="font-awesome" addClass="view-json-icon" (click)="rootOpen = !rootOpen"></st-icon>
            </div>
            <span>{{ item?.groupName }}</span>
            <span>{{ item?.lastItem?.successfulCount }}</span>
            <span>{{ item?.lastItem?.failureCount }}</span>
            <span>{{ item?.lastItem?.averageDuration.toFixed(2) }} ms</span>
            <div>
                <progress class="glow-progress success-percent" style="width: 40%; height: 0.5rem;" max="100" [value]="item?.lastItem?.successPercentage"></progress>
                <span>  {{ item?.lastItem?.successPercentage }}%</span>
            </div>
        </div>
        
        <st-list-component *ngIf="rootOpen" [items]="item?.children" [hoverEnabled]="false" [isNestedList]="true" [noItemPadding]="true">
            <ng-template #itemTemplate let-nameGroupItem="item" let-nameGroupIndex="index" >
                <div class="availability-list name-group" (click)="setSelectedItem(nameGroupItem)" [ngClass]="{'selected': selectedFullGroupName == nameGroupItem?.fullGroupName}">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <st-icon *ngIf="!getNameGroupOpen(nameGroupIndex)" title="Expand" iconClass="fas fa-caret-left" iconSet="font-awesome" addClass="view-json-icon" (click)="toggleNameGroupOpen(nameGroupIndex)"></st-icon>
                        <st-icon *ngIf="getNameGroupOpen(nameGroupIndex)" title="Collapse" iconClass="fas fa-caret-down" iconSet="font-awesome" addClass="view-json-icon" (click)="toggleNameGroupOpen(nameGroupIndex)"></st-icon>
                    </div>
                    <span>{{ nameGroupItem?.groupName }}</span>
                    <span>{{ nameGroupItem?.lastItem?.successfulCount }}</span>
                    <span>{{ nameGroupItem?.lastItem?.failureCount }}</span>
                    <span>{{ nameGroupItem?.lastItem?.averageDuration.toFixed(2) }} ms</span>
                    <div>
                        <progress class="glow-progress success-percent" style="width: 40%; height: 0.5rem;" max="100" [value]="nameGroupItem?.lastItem?.successPercentage"></progress>
                        <span>  {{ nameGroupItem?.lastItem?.successPercentage }}%</span>
                    </div>
                </div>

                <st-list-component *ngIf="getNameGroupOpen(nameGroupIndex)" [items]="nameGroupItem?.children" [hoverEnabled]="false" [isNestedList]="true" [noItemPadding]="true">
                    <ng-template #itemTemplate let-locationGroupItem="item">
                        <div class="availability-list location-group" (click)="setSelectedItem(locationGroupItem)" [ngClass]="{'selected': selectedFullGroupName == locationGroupItem?.fullGroupName}">
                            <span></span>
                            <span>{{ locationGroupItem?.groupName }}</span>
                            <span>{{ locationGroupItem?.lastItem?.successfulCount }}</span>
                            <span>{{ locationGroupItem?.lastItem?.failureCount }}</span>
                            <span>{{ locationGroupItem?.lastItem?.averageDuration.toFixed(2) }} ms</span>
                            <div>
                                <progress class="glow-progress success-percent" style="width: 40%; height: 0.5rem;" max="100" [value]="locationGroupItem?.lastItem?.successPercentage"></progress>
                                <span>  {{ locationGroupItem?.lastItem?.successPercentage }}%</span>
                            </div>
                        </div>
                    </ng-template>
                </st-list-component>
       
            </ng-template>
        </st-list-component>


    </ng-template>
</st-list-component>