  .nav_link {
      display: flex;
      position: relative;
      color: var(--white-color);
      margin-bottom: 1.2rem;
      font-size:0.8rem;
      transition: .3s;
      text-decoration: none;
      white-space: nowrap;
      align-items: center;
      &:hover {
        color: var(--secondary-color);
      }

      &.active {
        color: var(--primary-color);
        &::before {
            content: '';
            position: absolute;
            left: 6px;
            width: 2px;
            height: 32px;
            background-color: var(--primary-color);
          }
      }
  }
  
  ::ng-deep .nav_icon {
    font-size: 1.25rem;
    margin-left: 1.2rem;
    margin-right: 1.8rem;
  }
  
 