::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
::ng-deep   st-pages { 
  height: 100%; 
}
  
.display-content {
  height: calc(100vh - var(--header-height) - 1rem);
  overflow: auto;
}
