<nb-card>
    <nb-card-header>
        Telemetry Overview
      <ts-cloud-filter-select [selectedItems]="telemetryOverviewService.SelectedCloudFilters" 
                              [cloudNames]="(telemetryOverviewView$ | async)?.cloudNames" 
                              (filterChanged)="telemetryOverviewService.ApplyViewFilter($event)"
                              (selectedFilterChanged)="telemetryOverviewService.SelectedCloudFilters = $event"></ts-cloud-filter-select>
    </nb-card-header>

    <nb-card-body>
        <div *ngIf="(telemetryOverviewView$ | async)" class="row">
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 1)" [selected]="selected == 1" total="{{ (telemetryOverviewView$ | async).availabilityCount ?? 0 }}" cardLabel="Availibility" cardIcon='heart-outline' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 2)" [selected]="selected == 2" total="{{ (telemetryOverviewView$ | async).browserTimingsCount ?? 0 }}" cardLabel="Browser Timings" cardIcon='clock-outline' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 3)" [selected]="selected == 3" total="{{ (telemetryOverviewView$ | async).customEventsCount ?? 0 }}" cardLabel="Custom Events" cardIcon='clipboard-outline' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 4)" [selected]="selected == 4" total="{{ (telemetryOverviewView$ | async).customMetricsCount ?? 0 }}" cardLabel="Custom Metrics" cardIcon='trending-up-outline' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 5)" [selected]="selected == 5" total="{{ (telemetryOverviewView$ | async).dependenciesCount ?? 0 }}" cardLabel="Dependencies" cardIcon='star' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 6)" [selected]="selected == 6" total="{{ (telemetryOverviewView$ | async).exceptionsCount ?? 0 }}" cardLabel="Exceptions" cardIcon='alert-circle-outline' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 7)" [selected]="selected == 7" total="{{ (telemetryOverviewView$ | async).pageViewsCount ?? 0 }}" cardLabel="Page Views" cardIcon='eye-outline' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 8)" [selected]="selected == 8" total="{{ (telemetryOverviewView$ | async).performanceCountersCount ?? 0 }}" cardLabel="Performance Counters" cardIcon='activity-outline' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 9)" [selected]="selected == 9" total="{{ (telemetryOverviewView$ | async).requestsCount ?? 0 }}" cardLabel="Requests" cardIcon='flash-outline' ></st-number-card>
            </div>
            <div class="col-md-6 col-lg-3" matRipple>
                <st-number-card (click)="(selected = 10)" [selected]="selected == 10" total="{{ (telemetryOverviewView$ | async).tracesCount ?? 0 }}" cardLabel="Traces" cardIcon='edit-outline' ></st-number-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>