<div class="side-menu" [ngClass]="{'collapsed-menu': !isOpen}">
    <div class="side-menu-header" >
        <st-icon iconClass="bx bx-layer" iconSet="boxicons" addClass="app-icon"></st-icon>
        <span class="header-text">STAIExtensions</span>
    </div>
    <div class="side-menu-content" >
        <div class="nav_list">
            <ng-container *ngFor="let menuItem of menuItems">
                <st-navigation-menu-item [menuItem]="menuItem"></st-navigation-menu-item>
            </ng-container>
        </div>
    </div>
</div>
