<div class="app-content-container">
    <shared-navigation-menu [isOpen]="isMenuOpen"></shared-navigation-menu>
    <div class="content-right-container">
        <div class="top-bar">
            <shared-icon *ngIf="!isMenuOpen" (click)="toggleMenuOpen()" iconSet="boxicons" iconClass="bx bx-menu" addClass="toggle-icon"></shared-icon>
            <shared-icon *ngIf="isMenuOpen" (click)="toggleMenuOpen()" iconSet="boxicons" iconClass="bx bx-x" addClass="toggle-icon"></shared-icon>
        </div>
        <div class="page-router-outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="isBusyNavigating">
    <shared-loading-panel></shared-loading-panel>
</div>

