<st-telemetry-overview [selected]="selectedTelemetryType" (selectedChanged)="onSelectedTelemetryTypeChanged($event)"></st-telemetry-overview>
<nb-card>
    <nb-card-header>
        <span>Most recent items</span>
    </nb-card-header>

    <nb-card-body>
        <stgrid-datacontract-availability *ngIf="(selectedTelemetryType == 1)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastAvailability"></stgrid-datacontract-availability>
        <stgrid-datacontract-browser-timings *ngIf="(selectedTelemetryType == 2)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastBrowserTimings"></stgrid-datacontract-browser-timings>
        <stgrid-datacontract-custom-events *ngIf="(selectedTelemetryType == 3)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastCustomEvents"></stgrid-datacontract-custom-events>
        <stgrid-datacontract-custom-metrics *ngIf="(selectedTelemetryType == 4)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastCustomMetrics"></stgrid-datacontract-custom-metrics>
        <stgrid-datacontract-dependencies *ngIf="(selectedTelemetryType == 5)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastDependencies"></stgrid-datacontract-dependencies>
        <stgrid-datacontract-exceptions *ngIf="(selectedTelemetryType == 6)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastExceptions"></stgrid-datacontract-exceptions>
        <stgrid-datacontract-page-views *ngIf="(selectedTelemetryType == 7)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastPageViews"></stgrid-datacontract-page-views>
        <stgrid-datacontract-performance-counters *ngIf="(selectedTelemetryType == 8)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastPerformanceCounters"></stgrid-datacontract-performance-counters>
        <stgrid-datacontract-requests *ngIf="(selectedTelemetryType == 9)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastRequests"></stgrid-datacontract-requests>
        <stgrid-datacontract-traces *ngIf="(selectedTelemetryType == 10)" [dataContractItems]="(telemetryOverviewService?.View$ | async)?.lastTraces"></stgrid-datacontract-traces>
    </nb-card-body>
</nb-card>





