<ng-container *ngIf="data">
    
    <!-- <st-list-component [items]="listItems">
        <ng-template #headerTemplate >
            <div class="list-availabilty-totals header">

                <span>Type</span>
                <span></span>
                <span>Total</span>

            </div>
            
        </ng-template>

        <ng-template #itemTemplate let-item="item">
            <div class="list-availabilty-totals">
                <span>{{ item.label }}</span>
                <progress class="glow-progress" style="width: 50%; height: 0.5rem;" max="100" [value]="item.xx"></progress>
                <span> {{ item.xx }}</span>
            </div>
            
            
        </ng-template>
    </st-list-component> -->
</ng-container>
