@import '../../@theme/styles/themes';
@include nb-install-component() {
    ::ng-deep {
        .header-content {
          width: 100%;
          .toggle-container {
            float: right;
          }
        }

        .expand-icon {
          transition: transform .8s ease-in-out;  
        }
        
        .expand-icon.open {
          transform:rotate(180deg); 
        }

    }
}



   
