<shared-animated-header text="Telemetry Overview"></shared-animated-header>

<telemetryoverviewpage-telemetry-cards [selectedCard]="selectedCard" (selectedCardChanged)="selectedCard = $event"></telemetryoverviewpage-telemetry-cards> 

<h1 class="cyberpunk">Overview Items</h1>

<div class="telemetry-overview-items-container">
    <telemetryoverviewpage-availability-table *ngIf="selectedCard === 'Availability'"></telemetryoverviewpage-availability-table>
    <telemetryoverviewpage-browser-timings-table *ngIf="selectedCard === 'BrowserTimings'"></telemetryoverviewpage-browser-timings-table>
    <telemetryoverviewpage-custom-events-table *ngIf="selectedCard === 'CustomEvents'"></telemetryoverviewpage-custom-events-table>
    <telemetryoverviewpage-custom-metrics-table *ngIf="selectedCard === 'CustomMetrics'"></telemetryoverviewpage-custom-metrics-table>
    <telemetryoverviewpage-dependencies-table *ngIf="selectedCard === 'Dependencies'"></telemetryoverviewpage-dependencies-table>
    <telemetryoverviewpage-exceptions-table *ngIf="selectedCard === 'Exceptions'"></telemetryoverviewpage-exceptions-table>
    <telemetryoverviewpage-page-views-table *ngIf="selectedCard === 'PageViews'"></telemetryoverviewpage-page-views-table>
    <telemetryoverviewpage-performance-counters-table *ngIf="selectedCard === 'PerformanceCounters'"></telemetryoverviewpage-performance-counters-table>
    <telemetryoverviewpage-requests-table *ngIf="selectedCard === 'Requests'"></telemetryoverviewpage-requests-table>
    <st-traces-table *ngIf="selectedCard === 'Traces'"></st-traces-table>
</div>