.list-component {
    list-style: none;
    padding: 0px;
    margin: 0px;

    .list-component-header {
        color: var(--white-color);
        border-bottom: solid 2px var(--white-color);
    }

    .list-component-item {
        color: var(--primary-color);
        margin: 0px;
        width: 100%;
        padding: 0px;

        &.itemPadding {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }

        &.isNotNestedList {
            border-bottom: solid 1px var(--line-color);
            &:nth-child(1) {
                border-top: solid 1px var(--line-color);
            }
        }

        &.hoverEnabled {
            &:hover {
                background-color: var(--hover-background);
            }
        }
    }
}