<ng-container *ngIf="(dataSource !== null)">




    <div>
        <span *ngIf="(level !== 0)">+</span>
    </div>
    <div>{{ dataSource.groupName }}</div>
    <div>{{ dataSource.lastItem.minDuration }}ms</div>
    <div>{{ dataSource.lastItem.maxDuration }}ms</div>
    <div>{{ dataSource.lastItem.successPercentage }}% </div>
</ng-container>

<ng-container *ngIf="(dataSource?.children !== null)">
    <st-row-detail *ngFor="let child of dataSource.children" [dataSource]="child" [level]="level + 1"></st-row-detail>
</ng-container>

