<ngx-table [configuration]="configuration"
           [data]="data"
           [columns]="columns">
  <ng-template let-row let-index="index">
    <td>
      <div style="display: flex; justify-content: center; align-items: center;">
        <shared-icon title="View Json Content" iconClass="far fa-eye" iconSet="font-awesome" addClass="view-json-icon" (click)="onViewJsonItemClick($event, index)"></shared-icon>
      </div>
    </td>
    <td>
      <span>{{ row.name }}</span>
    </td>
    <td>
      <span>{{ row.timeStamp }}</span>
    </td>
    <td>
      <span>{{ row.duration }} ms</span>
    </td>
    <td>
      <span>{{ row.performanceBucket }}</span>
    </td>
    <td>
      <span>{{ row.operationName }}</span>
    </td>
    <td>
      <span>{{ row.cloudRoleInstance }}</span>
    </td>
    <td>
      <span>{{ row.cloudRoleName }}</span>
    </td>
    <td>
      <div style="display: flex; justify-content: center; align-items: center;">
        <shared-icon *ngIf="row.success === 'True'" iconClass="fas fa-check" iconSet="font-awesome" addClass="success-icon"></shared-icon>
        <shared-icon *ngIf="row.success !== 'True'" iconClass="fas fa-times" iconSet="font-awesome" addClass="fail-icon"></shared-icon>
      </div>
    </td>
  </ng-template>           
</ngx-table>




