<ngx-table [configuration]="configuration"
           [data]="data"
           [columns]="columns">
  <ng-template let-row let-index="index">
    <td>
      <div style="display: flex; justify-content: center; align-items: center;">
        <st-icon title="View Json Content" iconClass="far fa-eye" iconSet="font-awesome" addClass="view-json-icon" (click)="onViewJsonItemClick($event, index)"></st-icon>
      </div>
    </td>
    <td>
      <span>{{ row.name }}</span>
    </td>
    <td>
      <span>{{ row.timeStamp }}</span>
    </td>
    <td>
      <span>{{ row.value }}</span>
    </td>
    <td>
      <span>{{ row.valueCount }}</span>
    </td>
    <td>
      <span>{{ row.valueMin }}</span>
    </td>
    <td>
      <span>{{ row.valueMax }}</span>
    </td>
    <td>
      <span>{{ row.valueStdDev }}</span>
    </td>
    <td>
      <span>{{ row.valueSum }}</span>
    </td>
  </ng-template>           
</ngx-table>




