::ng-deep app-not-found {
    height: 100%;
}

.not-found-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .error 
    {
        .clip {
            .shadow {
                height: 180px;  
            }
        }

        .clip:nth-of-type(2) {
            .shadow {
                width: 130px; 
                overflow: hidden;
                position: relative;
                box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150, 0.8), 20px 0px 20px -15px rgba(150, 150, 150,0.8); 
            }
        }    
        .clip:nth-of-type(1), 
        .clip:nth-of-type(3) {
            .shadow {
                width: 250px;
                &::after {
                    content: "";
                    position: absolute;
                    right: -8px;
                    bottom: 0px;
                    z-index: 9999;
                    height: 100%;
                    width: 10px;
                    background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
                    border-radius: 50%;
                } 
            }
        }
        .digit {
            width: 150px;   
            height: 150px;  
            line-height: 150px; 
            font-size: 120px;
            font-weight: bold;
            position: relative;
            top: 8%;
            color: var(--white-color);
            background: var(--primary-color);
            border-radius: 50%;
            display: inline-block;
            transform: skew(45deg);
        }
        h2 {
            font-size: 32px;
            color: var(--secondary-color);
            font-weight: bold;
            padding-bottom: 20px;
        }
        .msg {
            top: -190px;
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: 32px;
            position: relative;
            z-index: 9999;
            display: block;
            background: var(--white-color);
            color: var(--secondary-color);
            border-radius: 50%;
            font-style: italic;
        }
        span.triangle {
            top: 70%;
            right: 0%;
            border-left: 20px solid var(--white-color);
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            position: absolute;
            z-index: 999;
            transform: rotate(45deg);
            content: "";
            width: 0; 
            height: 0; 
        }

        .container-error-404 {
           
            position: relative;
            height: 250px;
            .clip {
                display: inline-block;
                transform: skew(-45deg);
                .shadow {
                    overflow: hidden;
                }
            }
        }
        .clip:nth-of-type(3) .shadow:after {
            left: -8px;
        }
        .clip:nth-of-type(2) .digit {
            left: -10%;
        }
        .clip:nth-of-type(1) .digit {
            right: -20%;
        }
        .clip:nth-of-type(3) .digit {
            left: -20%;
        }    
    }
    .overlay { position: relative; z-index: 20; }
    .ground-color { background: transparent; } 
    
    .padding-top { padding-top: 10px; }
    .padding-bottom { padding-bottom: 10px; }  
    .padding-vertical { padding-top: 10px; padding-bottom: 10px; }
    .padding-horizontal { padding-left: 10px; padding-right: 10px; }
    .padding-all { padding: 10px; }  
    .no-padding-left { padding-left: 0px; }   
    .no-padding-right { padding-right: 0px; }  
    .no-vertical-padding { padding-top: 0px; padding-bottom: 0px; }
    .no-horizontal-padding { padding-left: 0px; padding-right: 0px; }
    .no-padding { padding: 0px; }  

    .margin-top { margin-top: 10px; }  
    .margin-bottom { margin-bottom: 10px; }
    .margin-right { margin-right: 10px; }
    .margin-left { margin-left: 10px; }
    .margin-horizontal { margin-left: 10px; margin-right: 10px; }
    .margin-vertical { margin-top: 10px; margin-bottom: 10px; }
    .margin-all { margin: 10px; }  
    .no-margin { margin: 0px; }  
    .no-vertical-margin { margin-top: 0px; margin-bottom: 0px; }
    .no-horizontal-margin { margin-left: 0px; margin-right: 0px; }
    .inside-col-shrink { margin: 0px 20px; }    
  
}

